.menu {
  display: flex;
  width: 100%;
  padding: var(--radius-rounded-none) var(--spacing-9);
  justify-content: center;
  align-items: center;
}
.menu__background {
  background: var(--bg-slate-100);
}

.menu__item {
  padding: var(--spacing-6);
  color: var(--text-slate-600);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  border-bottom: 1.5px solid transparent
}

.menu__item:hover {
  border-bottom: 1.5px solid var(--border-blue-600);
}